body{
    margin: 0;
    font-family: 'Outfit','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
u{
    cursor: pointer;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
header p{
    padding: 6px 75px;
    margin: 0;
    font-size: 12px;
    color: rgb(100, 100, 100);

    border: 1px solid #ececec;
    text-align: center;
}
header a{
    color: rgb(100, 100, 100);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.title{
    margin-top: 7px;
    margin-left: 130px;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #393939;
}
.grey-fontcolor{
    color: grey;
    font-weight: 400;
    margin-left: -4px;
}
.middle-sec{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;

}
.middle-sec li:not(.blogs-red){
    margin: 0 10px;
    font-size: 13px;
    color: grey;
}
.blogs-red{
    margin: 0 10px;
    font-size: 13px;
    color: rgba(255, 101, 67, 1);
}
.dropdown{
    width: 10px;
    margin-left: -2px;
}
.right-sec{
    margin-right: 130px;
}
.right-sec img:not(.search-icon){
    width: 18px;
    margin: 0px 5px;
}
.search-icon{
    width: 20px;
    margin: 0 5px;
}
.the-post{
    display: flex;
    flex-direction: column;
    margin: 70px 120px;
}
.main-pic{
    width: 100%;
}
.date{
    font-size: 11px;
    color: rgba(255, 101, 67, 1);
}
h1{
    font-weight: 100;
    text-transform: uppercase;
    font-size: 45px;
    word-spacing: 12px;
}
.main-post-body p, .main-post-body li{
    font-size: 15px;
    font-weight: 200;
    word-spacing: 2px;
}
.big-font{
    font-weight: 200;
    font-size: 35px;
}
.the-post h2{
    text-transform: uppercase;
    font-weight: 200;
    font-size: 20px;
}
.inpost-pic{
    width: 400px;
    float: left;
    margin-right: 20px;
}
.with-pic{
    padding-bottom: 40px;
}
.with-pic h2{
    padding-top: 20px;
}
.post-first-tail, .post-second-tail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tags, .share{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.tags p, .share p{
    margin-right: 15px;
}
.post-second-tail img{
    width: 24px;
    height: 24px;
}
.previous, .next{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
    text-transform: uppercase;
    font-size: 12px;
}
.previous img, .next p{
    margin-right: 10px;
    color: rgba(255, 101, 67, 1);
}
.post-comments{
    margin: 20px 0 0;
    width: 85%;
}
.post-comments img{
    width: 80px;
    float: left;
    margin-right: 15px;
}
.user-comment-two{
    margin-left: 50px;
}
.user-comment-two, .user-comment{
    margin-bottom: 20px;
}
.user-name{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}
.user-name span{
    color: #5a5a5a;
    font-weight: 200;
}
.comment-text{
    font-size: 14px;
    font-weight: 200;
    margin: 0;
}
.user-comment button, .user-comment-two button{
    border: none;
    background: none;
    color: rgba(255, 101, 67, 0.8);
    font-size: 12px;
    font-weight: lighter;
    cursor: pointer;
}
.your-comment{
    display: flex;
    flex-direction: column;
}
.comment-field{
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    padding: 15px 10px;
    border-radius: 4px;
    margin: 0 19px 10px 0;
    color: grey;
    box-sizing: border-box;
}
.clarification{
    font-weight: 200;
    font-size: 14px;
}
.name{
    display: inline;
    border: 1px solid #ccc;
    width: 49%;
    padding: 15px 10px;
    border-radius: 4px;
    margin: 0 19px 10px 0;
    color: grey;
    box-sizing: border-box;
}
input[type="email"]{
    display: inline;
    border: 1px solid #ccc;
    width: 49%;
    padding: 15px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: grey;
    box-sizing: border-box;
}
::placeholder{
    font-size: 12px;
    font-weight: 300;
    font-family: "Outfit", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.check{
    color: grey;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: "Outfit", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="submit"]{
    display: block;
    margin: 20px;
    background-color: rgba(255, 101, 67, 1);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 22px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}







h2:not(.post-header, .three-comments, .your-comment-header){
    margin: 20px 120px;
    color: #393939;
    font-size: 22px;
    font-weight: 200;
    text-wrap: nowrap;
    overflow: hidden;
    text-transform: uppercase;
}
h2 span{
    color: #ccc;
    font-size: 12px;
    font-weight: 200;
    margin-left: 15px;
}
.related-posts{
    display: flex;
    flex-direction: row;
    margin: 0 120px;
}
.post{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 15px;
}
.post button{
    width: fit-content;
    border: none;
    background-color: rgba(255, 101, 67, 1);
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 11px;
    padding: 4px;
    cursor: pointer;
}
.post img{
    object-fit: cover;
    object-position: center;
}
.post-title{
    text-transform: uppercase;
    color: #393939;
    font-size: 12px;
}
.post-body{
    font-size: 12px;
    color: #393939;
}
.post a{
    text-decoration: underline;
    color: #393939;
    text-transform: capitalize;
    font-size: 12px;
}

.slide-btn{
    background: none;
    border: 1px solid #dadada;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.slide-btn img{
    width: 25px;
    margin: 0;
}
.reviews{
    display: flex;
    flex-direction: row;
    margin: 0 120px;
    align-items: center;
    margin-bottom: 75px;
}
.reviews article{
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    border-radius: 12px;
}
q{
    width: 100%;
    height: 80px;
    font-size: 12px;
    margin-bottom: 30px;
}
.reviews article img{
    width: 50px;
}
address{
    margin: 0;
    text-transform: capitalize;
    font-style: normal;
}

.brands{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-transform: uppercase;
    align-items: center;
    margin: 70px 0;
    padding: 20px 0;
    border: 1px solid #e7e7e7;
}
.roboto{
    font-family: 'Roboto';
    color: #a3a3a3;
    font-size: 20px;
    font-weight: 300;
}
.roboto span{
    color: #c3c3c3;
}
.jost{
    font-family: 'Jost';
    color: #a3a3a3;
    font-size: 22px;
    font-weight: 300;
    text-transform: capitalize;
}
.inter{
    font-family: 'Inter';
    color: #a3a3a3;
    font-size: 22px;
    font-weight: 600;
}
.syne{
    font-family: 'Syne';
    color: #a3a3a3;
    font-size: 20px;
    font-weight: 400;
}
.lora{
    font-family: 'Lora';
    color: #a3a3a3;
    font-size: 18px;
    font-weight: 100;
}
.insta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.insta p{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
}
.imgs{
    display: flex;
    flex-direction: row;
    margin: 0 120px 100px;
    justify-content: space-between;
}
.imgs img{
    width: 160px;
    height: 160px;
    margin-right: 9px;
    margin-left: 9px;
    cursor: pointer;
}
footer{
    display: flex;
    flex-direction: column;
    font-weight: 300;
}
footer section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 180px;
    align-items: start;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.one{
    width: 250px;
}
.four{
    width: 160px;
}
.menu-title{
    font-size: 14px;
    text-transform: uppercase;
    color: #393939;
}
.m1{
    font-weight: 500;
}
.m1 span{
    color: #a3a3a3;
    margin-left: 3px;
}
.menu-body{
    color: #393939;
    font-size: 12px;
    font-weight: 300;
    list-style: none;color: #393939;
    padding: 0;
}
.three .menu-body{
    line-height: 10px;
}
.menu-body a{
    color: #393939;
    text-decoration: none;
}
.menu-body a:hover{
    color: rgba(255, 101, 67, 1);
}
.icons img{
    width: 16px;
    height: 16px;
    margin: 5px;
    cursor: pointer;
}
.fb{
    width: 3px;
    height: 5px;
}
.four p{
    margin-bottom: 3px;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #ccc;
}
.second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    color: #393939;
    font-size: 12px;
}
.left-f{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.shipment, .payment{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}
.shipment img{
    width: 38px;
    height: 18px;
    margin: 10px 5px;
}
.payment img:not(.paypal){
    width: 28px;
    height: 18px;
    margin: 10px 0px 10px 8px;
}
.paypal{
    width: 26px;
    height: 14px;
    margin: 13px 8px;
}